<!DOCTYPE html>
<html lang="en">

<head>
  <title>Schedule</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../resources/css/index.css">
</head>

<body>
  <div class="text-center">
    <img src="../../resources/img/cu_logo.png" alt="cu logo">
  </div>
  <nav>
    <ul>
      <li><a href="/schedule">Schedule</a></li>
      <li><a href="/search">Search Class</a></li>
      <li><a href="/about">About Page</a></li>
    </ul>
  </nav>
  <div class="container" style="background-color: white; border-radius: 10px; padding: 4%;">
    <h1 style="text-align: center;"> About Page</h1>
    <p style="margin: 2%;">
      <h2 style="font-size: 30px; color:grey;">Welcome,</h2>
      <br>
      <p style="font-size: 15px;">
        This page allows you to create personalized schedule. The search page will help you to navigate through all the
        available courses;as well, you will be able to add classes which then be displayed in the schedule page
        accordingly
        to weekly calendar. Schedule will be displayed via cards, you can either add more classes or remove the class
        you have already selected.
        Your searches can be done by looking up the class name, section, class ID or date and time. This page is meant
        as a helper to organize the schedule rather then sign up for classes. Please enjoy.
      </p>
      <br>
      <p style="color: grey;font-size: 10px; text-align: center;">
        This page was brought to you by Max Banks, Austin Park, Yun-Ping Yang (Peter), Yuriy Mikhailidi.
      </p>
    </p>
  </div>
</body>

</html>