<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sexy Schedule</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../resources/css/index.css">

</head>

<body>
  <div class="text-center">
    <img src="../../img/cu_logo.png" alt="cu logo">
  </div>
  <nav>
    <ul>
      <li><a href="#">Schedule</a></li>
      <li><a href="search">Search Class</a></li>
      <li><a href="about">About Page</a></li>
    </ul>
  </nav>
  <div class="container">
    <div class="row">
      <!-- Monday Card -->
      <div class="col-sm-4">
        <div id="monday" class="card"
          style="
                      height: 20rem; width: 25rem; border-style: solid; border-width: 1px; margin: 2%; background-color: white; border-radius: 10px;">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Monday</h5>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Class Name
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Professor</a>
                <a class="dropdown-item" href="#">Time</a>
                <a class="dropdown-item" href="#">Section</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Tuesday Card -->
      <div class="col-sm-4">
        <div id="tuesday" class="card"
          style="
                      height: 20rem; width: 25rem; border-style: solid; border-width: 1px; margin: 2%; background-color: white; border-radius: 10px;">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Tuesday</h5>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Class Name
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Professor</a>
                <a class="dropdown-item" href="#">Time</a>
                <a class="dropdown-item" href="#">Section</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Wednesday Card -->
      <div class="col-sm-4">
        <div id="wednesday" class="card"
          style="
                      height: 20rem; width: 25rem; border-style: solid; border-width: 1px; margin: 2%; background-color: white; border-radius: 10px;">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Wednesday</h5>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Class Name
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Professor</a>
                <a class="dropdown-item" href="#">Time</a>
                <a class="dropdown-item" href="#">Section</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Thursday Card -->
      <div class="col-sm-4">
        <div id="thursday" class="card"
          style="
                    height: 20rem; width: 25rem; border-style: solid; border-width: 1px; margin: 2%; background-color: white; border-radius: 10px;">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Thursday</h5>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Class Name
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Professor</a>
                <a class="dropdown-item" href="#">Time</a>
                <a class="dropdown-item" href="#">Section</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Friday Card -->
      <div class="col-sm-4">
        <div id="friday" class="card"
          style="
                    height: 20rem; width: 25rem; border-style: solid; border-width: 1px; margin: 2%; background-color: white; border-radius: 10px;">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Friday</h5>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Class Name
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Professor</a>
                <a class="dropdown-item" href="#">Time</a>
                <a class="dropdown-item" href="#">Section</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Saturday Card -->
      <div class="col-sm-4">
        <div id="saturday" class="card"
          style="
                    height: 20rem; width: 25rem; border-style: solid; border-width: 1px; margin: 2%; background-color: white; border-radius: 10px;">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Saturday</h5>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Class Name
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Professor</a>
                <a class="dropdown-item" href="#">Time</a>
                <a class="dropdown-item" href="#">Section</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Sunday Card -->
      <!-- <div class="col-sm-4">
                  <div id="sunday" class="card" style="
                    width: 25rem; border-style: solid; border-width: 1px; margin: 2%; background-color: white; border-radius: 10px;">
                    <div class="card-body">
                      <h5 class="card-title" style="text-align: center;">Sunday</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                </div> -->
      <div class="col-sm-4">
        <button class="button" onclick="window.location.href='search.html'"> Add Class </button>
        <button class="button"> Remove Class </button>
      </div>
    </div>
  </div>
</body>

</html>