<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sexy Schedule</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../resources/css/index.css">
</head>

<body>
  <div class="text-center">
    <img src="../../img/cu_logo.png" alt="cu logo">
  </div>
  <nav>
    <ul>
      <li><a href="schedule">Schedule</a></li>
      <li><a href="#">Search Class</a></li>
      <li><a href="about">About Page</a></li>
    </ul>
  </nav>
  <div class="container" style="background-color: white; border-radius: 10px; padding: 5%;">
    <div calss="row">
    </div>
    <div class="col-lg-10">
      <div>
        <form action="/search/class_display" method="GET">
          <label for="class_id">Class Id: </label>
          <input type="text" id="class_id" name="class_id"><br><br>
          <label for="class_prefix">Class Prefix:</label>
          <input type="text" id="class_prefix" name="class_prefix"><br><br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
    <div class="col-lg-10" style="margin-top:2%;">
      <h1>
        Class Info: <br>
        <% if (data) {
          var classInfo = '';
          data.forEach(function (item) {
            classInfo += '<h3>' + item.course_department + '' + item.course_subject + ' ' + item.course_section + ' ' + item.course_start + ' ' + item.course_end + ' ' + item.course_days + ' ' +
              item.course_location + ' ' + item.course_instructor + ' ' + item.course_campus + '</h3>';
          }); %>
        <%- classInfo %>
        <% } %>
      </h1>
    </div>
  </div>
  </div>
</body>

</html>